.card-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.card-icon {
    width: 50px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.card-icon.active {
    opacity: 1;
    border: 2px solid green;
    border-radius: 5px;
}
